.lbcb-swatch-wrapper{
	width: 95%;
	border: 1px solid #ccc; 
	padding:5px; 
	margin: 0 auto; 
	height: 150px;
}

.lbcb-mini-swatch-wrapper{
	width: 75px;
	height: 10px;
	border: 1px solid #ccc;
	padding: 2px;
	background: #fff;
}

.lbcb-swatch,
.lbcb-mini-swatch{
	height: 100%; 
	width: 20%; 
	float: left;
}

.lbcb-meta-wrapper {
	margin: 0 auto;
	padding: 1.75em 0 1.75em 0;
	width: 95%;
}

.authortitle,
.hextitle{
	font-weight: bold;
}

.swatch-icon32-color {
	background: transparent url('../images/swatch32-color.png') no-repeat;
}

.swatch-icon32-greyscale {
	background: transparent url('../images/swatch32-greyscale.png') no-repeat;
}

.kuler-icon36 {
	float: left;
	height: 36px;
	margin: 7px 8px 0 0;
	width: 38px;
	background: transparent url('../images/ku_36pxBugOnly.png') no-repeat;
}
