.lbcb-swatch-wrapper{
	width: 95%;
	border: 1px solid #ccc; 
	padding:5px; 
	margin: 0 auto; 
	height: 150px;
}

.lbcb-mini-swatch-wrapper{
	width: 75px;
	height: 10px;
	border: 1px solid #ccc;
	padding: 2px;
	background: #fff;
}

.lbcb-swatch,
.lbcb-mini-swatch{
	height: 100%; 
	width: 20%; 
	float: left;
}

.lbcb-meta-wrapper {
	margin: 0 auto;
	padding: 1.75em 0 1.75em 0;
	width: 95%;
}

.authortitle,
.hextitle{
	font-weight: bold;
}
